@model AspHomework.WebUI.ViewModels.Home.IndexViewModel

<div class="jumbotron">
    <h1 class="display-4">Welcome to reservation system!</h1>
    <p class="lead">Choose from many extraordinary rooms which provide a lot fun and experince!</p>
    <hr class="my-4">
    <p>You are able to book only for today or the days afterwards. </p>
    <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Rooms" role="button">Book now!</a>
</div>